body {margin: 0;}
    
    .topnav {
        overflow: hidden;
        background-color: #333;
    }

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }

    #header {
        text-align: center;
        font-size: 20px;
    }

    #href-link-button {
        color: black;
        background-color: white;
        border-radius: 12px;
        border: 2px black;

    }

    .eventbox{
        border-style: solid black;
    }
    